<article id="container" ng-show="bracket.rounds">

    <div ng-show="isRoundVisible(4)">
        <section id="roundOf16">
            <div ng-repeat="(key, value) in bracket.rounds['round4']">
                <div class="top" ng-click="teamClick(value.top, 2)">{{ value.top.name }}</div>
                <div class="bottom" ng-click="teamClick(value.bottom, 2)">{{ value.bottom.name }}</div>
            </div>
        </section>

        <div class="connecter">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="line">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
    </div>

    <div ng-show="isRoundVisible(3)">
        <section id="quarterFinals">
            <div ng-repeat="(key, value) in bracket.rounds['round3']">
                <div class="top" ng-click="teamClick(value.top, 1)">{{ value.top.name }}</div>
                <div class="bottom" ng-click="teamClick(value.bottom, 1)">{{ value.bottom.name }}</div>
            </div>
        </section>

        <div class="connecter" id="conn2">
            <div></div>
            <div></div>
        </div>

        <div class="line" id="line2">
            <div></div>
            <div></div>
        </div>
    </div>

    <section id="semiFinals">
        <div ng-repeat="(key, value) in bracket.rounds['round2']">
            <div class="top" ng-click="teamClick(value.top, 0)">{{ value.top.name }}</div>
            <div class="bottom" ng-click="teamClick(value.bottom, 0)">{{ value.bottom.name }}</div>
        </div>
    </section>

    <div class="connecter" id="conn3">
        <div></div>
    </div>

    <div class="line" id="line3">
        <div></div>
    </div>

    <section id="final">
        <div ng-repeat="(key, value) in bracket.rounds['round1']">
            <div class="top" ng-click="setChamp(value.top)">{{ value.top.name }}</div>
            <div class="bottom" ng-click="setChamp(value.bottom)">{{ value.bottom.name }}</div>
        </div>
    </section>

</article>
